# Node.js
node_modules/

# Build dosyaları
build/

# .env dosyası (Çevresel değişkenler)
.env

# log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS özel dosyaları
.DS_Store

# Windows özel dosyalar
Thumbs.db

# VS Code çalışma alanı dosyaları
.vscode/

# Jest geçici dosyalar
coverage/

# Yarn lock dosyası (Yarn kullanıyorsanız)
yarn.lock

# npm lock dosyası (npm kullanıyorsanız)
package-lock.json
