/* Genel stilde body'nin varsayılan margin ve padding değerlerini sıfırlıyoruz */
@font-face {
  font-family: 'Handelson Four';
  src: url(../public/fonts/handelson-four.otf) format('opentype');
}

html, body {
  font-family: 'Handelson Four', sans-serif;
  background-color: #f0f0f0;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 50px;
  background-color: white;
  text-align: center;
  margin-bottom: 70px; /* Footer'a yakın boşluk */
}

