.banner {
    background: radial-gradient(circle, rgb(244,244,244)60%,rgba(0,0,0,0.08)100%);
    display: flex;
    width: 100%;      /* Ekranın tamamını kaplamak için */
    height: auto;    /* Yüksekliği otomatik olarak ayarlar */
}

.banner-image {
    width: 100%;      /* Yatayda ekranı tamamen kaplar */
    height: 400px;     /* Yüksekliği orantılı olarak ayarlar */
    object-fit: contain;
}

@media (max-width: 768px) {
    .banner {
      height: auto;
    }
  
    .banner-image {
      width: 100%;
      height: auto;
      max-height: 250px; /* Yüksekliği sınırla ama oranı koru */
      object-fit: contain; /* Görseli kırpmadan orantılı yerleştir */
      display: block;
      margin: 0 auto;
    }
  }
  
