.footer {
    background-color: white;   /* Beyaz arka plan */
    color: black;              /* Siyah yazı */
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    border-top: none;          /* Kenarlık kaldırıldı */
  }
  
  .footer p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
  }
  